*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-bg: #F2F2F2;
    --clr-white: #ffffff;
    --clr-dark1: #666666;
    --clr-dark2: #888888;
    --clr-dark3: #CCCCCC;
    --clr-select: #FAFAFA;

}

body {
    background: var(--clr-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.todo-app {
    padding-top: 1.5em;
    width: 100%;
    color: var(--clr-dark1);
    display: flex;
    flex-direction: column;
}

.todo-app__frame {
    background: var(--clr-white);
    flex-grow: 1;
}

.frame__top {
    display: flex;
    align-items: center;
    padding-inline: 10px;
}

.top__input {
    flex-grow: 1;
    padding: 0.5em 0.2em;
    border: none;
    overflow: hidden;
}

.top__dropdown {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-white);
    border: none;
    flex-shrink: 0;
}

.top__dropdown:hover, .top__input:hover, .todo-item:hover {
    background: var(--clr-select);
}

.icon--arrow-down {
    background-image: url('/assets/dropdown.svg');
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 8px;
}

.header__title {
    color: var(--clr-dark3);
    font: normal 100 6.25rem 'Roboto', sans-serif;
    text-align: center;
}

.top__input, .top__input::placeholder {
    color: var(--clr-dark3);
    font: italic 300 1.5rem 'Roboto', sans-serif;
    text-overflow: ellipsis;
}

.todo-item {
    color: var(--clr-dark1);
    font: normal 300 1.5rem 'Roboto', sans-serif;
}

.frame__bottom, .bottom__button {
    color: var(--clr-dark2);
    font: normal 300 0.875rem 'Robot', sans-serif;
}

.frame__top, .todo-item {
    box-shadow: inset 0 -1px 0 #E6E6E6;
}

.frame__top {
    height: 66px;
}

.todo-item {
    height: 64px;
}

.frame__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.frame__bottom {
    box-shadow: inset 0 1px 0 #E6E6E6;
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 1em 5px 1em 15px;
    justify-content: space-between;
}

.todos__list {
    list-style-type: none;
}

.todo-item__checkbox {
    appearance: none;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    flex-shrink: 0;
}

.todo-item__checkbox:checked {
    border: 1px solid #5DC2AF;
    background-image: url('/assets/donetick.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 50%;
    background-position-y: 50%;
}

.icon--cross {
    height: 20px;
    width: 20px;
    background-image: url('/assets/deletecross.svg');
    background-size: cover;
    display: block;
}

.todo-item__delete {
    background: rgba(0,0,0,0);
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}

.todo-item__view {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 10px;
}

.todo-item__text {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.6em 0.2em;
    height: 60px;
    width: 100%;
    white-space:nowrap
}

.bottom__selectors input {
    appearance: none;
    position: absolute;
    inset: 6px 2px 6px 2px;
}

.bottom__selectors label {
    padding: 0.7em;
    position: relative;
}

.bottom__selectors input:checked {
    border: 1px solid #EBDFDF;
    border-radius: 3px;
}

.bottom__button {
    border: none;
    background: var(--clr-white);
    padding: 0.5em;
}

.bottom__button:hover {
    background: var(--clr-select);
}

@media (min-width: 560px) {
    .todo-app {
        width: 560px;
    }

    .todo-app__frame {
        height: 400px;
        flex-grow: 0;
        position: relative;
    }

    .todo-app__frame::before {
        inset: 400px 2px -4px 2px;
        z-index: -1;
    }

    .todo-app__frame::after {
        inset: 400px 4px -8px 4px;
        z-index: -2;
    }

    .todo-app__frame::before, .todo-app__frame::after {
        position: absolute;
        content: ' ';
        background: var(--clr-white);
    }

    .todo-app__frame, .todo-app__frame::before, .todo-app__frame::after {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .frame__bottom {
        height: 44px;
    }
}